/* CSS Reset Starts */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS Reset Ends */

body {
  font-family: sans-serif;
}

section {
  height: 100vh;
  max-height: 1024px;
  width: 100vw;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container.narrow {
  max-width: 640px;
  min-width: 440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.personal-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#bg-avatar {
  width: 80px;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
}

.hstack {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 16px;
}

.name {
  font-size: 24px;
  font-weight: 700;
  line-height: 110%;
}

.pill.secondary-pill {
  /* padding: 2px 8px;height: 16px; */
  border: none;
  font-size: 10px;
  font-weight: 500;
  line-height: 14px;
  color: #41C863;
  background-color: #D7F9E0;
  display: flex;
  align-items: center;
  gap: 4px;
}

.pill {
  width: fit-content;
  display: flex;
  padding: 8px 12px;
  border: 1px solid #AFAFAF;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}

.about {
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.location {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  color: #71767B;
  transition: color ease-in-out 200ms;
}

.location:hover {
  color: #2a2a2a;
}

.location span {
  display: flex;
  margin-bottom: -2px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.cta {
  margin-top: 40px;
  display: flex;
  gap: 12px;
}

.button {
  width: 120px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border: none;
  cursor: pointer;
  border-radius: 16px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color ease-in-out 200ms;
}

.primary-btn {
  background-color: #000000;
  color: #FFFFFF;
}

.primary-btn:hover {
  background-color: #2a2a2a;
}

.secondary-btn {
  background-color: #F2F2F2;
  color: #65646A;
}

.secondary-btn:hover {
  background-color: #e8e8e8;
}

@media only screen and (max-width: 640px) {
  .container.narrow {
    min-width: 0px;
    padding: 24px;
  }
}